
* {
    box-sizing: border-box;
    margin: 0;
    font-size: large;
}

div, button {
    margin-bottom: 4%;
}

#form-main {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 60vw;
    height: 100vh;
    margin-left: 20vw;
}

#message-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
}

#the-message {
    width: 100%;
}

#result-field {
    border: 2px solid black;
}