@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
}

body {
    background-color: rgb(56, 55, 55);
}

h1, label, button, #radio-field {
    font-family: 'VT323';
}

div, button {
    margin-bottom: 4%;
}

#form-main {
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.692);
    width: 60vw;
    height: 100vh;
    margin-left: 20vw;
    background-color: rgba(0, 0, 0, 0.733);
}

#message-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%; 
    color: rgb(13, 204, 13); 
}

#the-message {
    width: 100%;
}

#result-field {
    border: 2px solid black;
    width: 100%;
}

@media (max-width: 1000px) {
    #form-main {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #message-form {
        height: 100%;
    }
}